Repository Siec-Dostepnosci-Cyfrowej/sdc, changes with the labels that .github/labeler.yml gives for each.
All labels: Zaopatrzenie, Cykl życia TIK, Zarządzanie i kultura, Pracownicy, Wiedza i umiejętności, Wsparcie, Komunikacja

[projekt zalecenia] Plan dostępności cyfrowej
  documentation/docs/kultura/plan-dostepnosci/plan-dostepnosci.md
Labels: Zarządzanie i kultura

Update plan-dostepnosci.md
  documentation/docs/kultura/plan-dostepnosci/plan-dostepnosci.md
Labels: Zarządzanie i kultura

Popraw Front Matters
  documentation/docs/kultura/plan-dostepnosci/plan-dostepnosci.md
Labels: Zarządzanie i kultura

blokowanie - sprawdz
  .github/workflows/blokuj-gdy-nie-ma-wymaganego-przegladu.yml
Labels: none

usunięcie konfliktu
  .github/workflows/blokuj-gdy-nie-ma-wymaganego-przegladu.yml
Labels: none

Dodany punkt
  documentation/docs/cykltik/dokumentacja-projektowa/dostepnosc-w-dokumentacji-projektowej.md
Labels: Cykl życia TIK

Update dostepnosc-w-dokumentacji-projektowej.md
  documentation/docs/cykltik/dokumentacja-projektowa/dostepnosc-w-dokumentacji-projektowej.md
Labels: Cykl życia TIK

.github/labeler.yml:

"Zaopatrzenie":
  - "documentation/docs/zaopatrzenie/**"
"Cykl życia TIK":
  - "documentation/docs/cykltik/**"
"Zarządzanie i kultura":
  - "documentation/docs/kultura/**"
"Pracownicy":
  - "documentation/docs/pracownicy/**"
"Wiedza i umiejętności":
  - "documentation/docs/wiedza/**"
"Wsparcie":
  - "documentation/docs/wsparcie/**"
"Komunikacja":
  - "documentation/docs/komunikacja/**"
